In [1]:
from google.colab import files
uploaded = files.upload()

Saving Tweets.csv.zip to Tweets.csv.zip

In [2]:
import numpy as np
import pandas as pd

In [3]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [8]:
tweet_data = pd.read_csv('Tweets.csv.zip')
print("data shape:",tweet_data.shape)
print("what are columns:",tweet_data.columns)
tweet_data.head()

data shape: (14640, 15)
what are columns: Index(['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
       'negativereason', 'negativereason_confidence', 'airline',
       'airline_sentiment_gold', 'name', 'negativereason_gold',
       'retweet_count', 'text', 'tweet_coord', 'tweet_created',
       'tweet_location', 'user_timezone'],
      dtype='object')

             tweet_id  ...               user_timezone
0  570306133677760513  ...  Eastern Time (US & Canada)
1  570301130888122368  ...  Pacific Time (US & Canada)
2  570301083672813571  ...  Central Time (US & Canada)
3  570301031407624196  ...  Pacific Time (US & Canada)
4  570300817074462722  ...  Pacific Time (US & Canada)

[5 rows x 15 columns]

In [9]:
#data cleaning
tweet_data = tweet_data.drop(['tweet_id','retweet_count', 'tweet_coord', 'tweet_created',
                               'tweet_location','name','user_timezone'],axis = 1)

In [10]:
tweet_data.head()

  airline_sentiment  ...                                               text
0           neutral  ...                @VirginAmerica What @dhepburn said.
1          positive  ...  @VirginAmerica plus you've added commercials t...
2           neutral  ...  @VirginAmerica I didn't today... Must mean I n...
3          negative  ...  @VirginAmerica it's really aggressive to blast...
4          negative  ...  @VirginAmerica and it's a really big bad thing...

[5 rows x 8 columns]

In [11]:
tweet_data['negativereason_gold'].unique()

array([nan, 'Late Flight\nFlight Attendant Complaints',
       'Late Flight\nLost Luggage', 'Late Flight',
       'Customer Service Issue', "Can't Tell",
       'Cancelled Flight\nCustomer Service Issue', 'Cancelled Flight',
       'Bad Flight', 'Lost Luggage\nDamaged Luggage',
       'Late Flight\nCancelled Flight', 'Flight Attendant Complaints',
       'Customer Service Issue\nLost Luggage',
       "Customer Service Issue\nCan't Tell"], dtype=object)

In [12]:
tweet_data['negativereason'] = tweet_data['negativereason'].fillna('')
tweet_data['negativereason_confidence'] = tweet_data['negativereason_confidence'].fillna(0)
tweet_data['airline_sentiment_gold'] = tweet_data['airline_sentiment_gold'].fillna('')
tweet_data['negativereason_gold'] = tweet_data['negativereason_gold'].fillna('')

In [13]:
tweet_data.head()

  airline_sentiment  ...                                               text
0           neutral  ...                @VirginAmerica What @dhepburn said.
1          positive  ...  @VirginAmerica plus you've added commercials t...
2           neutral  ...  @VirginAmerica I didn't today... Must mean I n...
3          negative  ...  @VirginAmerica it's really aggressive to blast...
4          negative  ...  @VirginAmerica and it's a really big bad thing...

[5 rows x 8 columns]

In [14]:
print("different topics of negative reasons are:",tweet_data['negativereason'].unique())

different topics of negative reasons are: ['' 'Bad Flight' "Can't Tell" 'Late Flight' 'Customer Service Issue'
 'Flight Booking Problems' 'Lost Luggage' 'Flight Attendant Complaints'
 'Cancelled Flight' 'Damaged Luggage' 'longlines']

In [15]:
!pip install contractions

Collecting contractions
  Downloading https://files.pythonhosted.org/packages/0a/04/d5e0bb9f2cef5d15616ebf68087a725c5dbdd71bd422bcfb35d709f98ce7/contractions-0.0.48-py2.py3-none-any.whl
Collecting textsearch>=0.0.21
  Downloading https://files.pythonhosted.org/packages/d3/fe/021d7d76961b5ceb9f8d022c4138461d83beff36c3938dc424586085e559/textsearch-0.0.21-py2.py3-none-any.whl
Collecting anyascii
  Downloading https://files.pythonhosted.org/packages/09/c7/61370d9e3c349478e89a5554c1e5d9658e1e3116cc4f2528f568909ebdf1/anyascii-0.1.7-py3-none-any.whl (260kB)
     |████████████████████████████████| 266kB 7.6MB/s
Collecting pyahocorasick
  Downloading https://files.pythonhosted.org/packages/7f/c2/eae730037ae1cbbfaa229d27030d1d5e34a1e41114b21447d1202ae9c220/pyahocorasick-1.4.2.tar.gz (321kB)
     |████████████████████████████████| 327kB 11.9MB/s
Building wheels for collected packages: pyahocorasick
  Building wheel for pyahocorasick (setup.py) ... done
  Created wheel for pyahocorasick: filename=pyahocorasick-1.4.2-cp37-cp37m-linux_x86_64.whl size=85398 sha256=e4af0cccdea374c88bb98934998b23cf20c0390414f6039483f9c5d583f97f2d
  Stored in directory: /root/.cache/pip/wheels/3a/03/34/77e3ece0bba8b86bfac88a79f923b36d805cad63caeba38842
Successfully built pyahocorasick
Installing collected packages: anyascii, pyahocorasick, textsearch, contractions
Successfully installed anyascii-0.1.7 contractions-0.0.48 pyahocorasick-1.4.2 textsearch-0.0.21

In [16]:
from nltk.corpus import stopwords
import string
import re
import contractions
def text_cleaning(text):
    #not removing the stopwords so that the sentences stay normal.
    #forbidden_words = set(stopwords.words('english'))
    if text:
        text = contractions.fix(text)
        text = ' '.join(text.split('.'))
        text = re.sub(r'\s+', ' ', re.sub('[^A-Za-z0-9]', ' ', text.strip().lower())).strip()
        text = re.sub(r'\W+', ' ', text.strip().lower()).strip()
        text = [word for word in text.split()]
        return text
    return []

In [17]:
tweet_data['text'] = tweet_data['text'].apply(lambda x: ' '.join(text_cleaning(x)))

In [18]:
tweet_data.head(20)

   airline_sentiment  ...                                               text
0            neutral  ...                   virginamerica what dhepburn said
1           positive  ...  virginamerica plus you have added commercials ...
2            neutral  ...  virginamerica i did not today must mean i need...
3           negative  ...  virginamerica it is really aggressive to blast...
4           negative  ...  virginamerica and it is a really big bad thing...
5           negative  ...  virginamerica seriously would pay 30 a flight ...
6           positive  ...  virginamerica yes nearly every time i fly vx t...
7            neutral  ...  virginamerica really missed a prime opportunit...
8           positive  ...        virginamerica well i did not but now i do d
9           positive  ...  virginamerica it was amazing and arrived an ho...
10           neutral  ...  virginamerica did you know that suicide is the...
11          positive  ...  virginamerica i lt 3 pretty graphics so much b...
12          positive  ...  virginamerica this is such a great deal alread...
13          positive  ...  virginamerica virginmedia i am flying your fab...
14          positive  ...                               virginamerica thanks
15          negative  ...        virginamerica sfo pdx schedule is still mia
16          positive  ...  virginamerica so excited for my first cross co...
17          negative  ...  virginamerica i flew from nyc to sfo last week...
18          positive  ...                             i flying virginamerica
19          positive  ...  virginamerica you know what would be amazingly...

[20 rows x 8 columns]

In [19]:
#Sentiment Analysis with NLTK:
import nltk
nltk.download(["names","stopwords","state_union","twitter_samples",
              "movie_reviews","averaged_perceptron_tagger","vader_lexicon",
              "punkt"])

[nltk_data] Downloading package names to /root/nltk_data...
[nltk_data]   Unzipping corpora/names.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package state_union to /root/nltk_data...
[nltk_data]   Unzipping corpora/state_union.zip.
[nltk_data] Downloading package twitter_samples to /root/nltk_data...
[nltk_data]   Unzipping corpora/twitter_samples.zip.
[nltk_data] Downloading package movie_reviews to /root/nltk_data...
[nltk_data]   Unzipping corpora/movie_reviews.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [20]:
from nltk.sentiment import SentimentIntensityAnalyzer as SIA
sia = SIA()
print(sia.polarity_scores('wow! this nltk library really works'))

{'neg': 0.0, 'neu': 0.55, 'pos': 0.45, 'compound': 0.6239}

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [21]:
texts = tweet_data['text'].tolist()
negative_scores = []
neutral_scores = []
positive_scores = []
compound_scores = []
final_tag = []
for text in texts:
    score_dictionary = sia.polarity_scores(text)
    negative_scores.append(score_dictionary['neg'])
    positive_scores.append(score_dictionary['pos'])
    neutral_scores.append(score_dictionary['neu'])
    compound_scores.append(score_dictionary['compound'])
    if score_dictionary['compound']>0:
        final_tag.append('positive')
    elif score_dictionary['compound']<0:
        final_tag.append('negative')
    else:
        final_tag.append('neutral')
tweet_data['negative_score'] = negative_scores
tweet_data['positive_score'] = positive_scores
tweet_data['neutral_score'] = neutral_scores
tweet_data['compound_score'] = compound_scores
tweet_data['final_tag'] = final_tag

In [22]:
tweet_data.head(20)

   airline_sentiment  airline_sentiment_confidence  ... compound_score  final_tag
0            neutral                        1.0000  ...         0.0000    neutral
1           positive                        0.3486  ...         0.0000    neutral
2            neutral                        0.6837  ...         0.0000    neutral
3           negative                        1.0000  ...        -0.2716   negative
4           negative                        1.0000  ...        -0.5829   negative
5           negative                        1.0000  ...        -0.5945   negative
6           positive                        0.6745  ...         0.4019   positive
7            neutral                        0.6340  ...         0.1458   positive
8           positive                        0.6559  ...         0.1406   positive
9           positive                        1.0000  ...         0.7717   positive
10           neutral                        0.6769  ...        -0.8555   negative
11          positive                        1.0000  ...         0.7490   positive
12          positive                        1.0000  ...         0.6249   positive
13          positive                        0.6451  ...         0.1531   positive
14          positive                        1.0000  ...         0.4404   positive
15          negative                        0.6842  ...        -0.2960   negative
16          positive                        1.0000  ...        -0.5566   negative
17          negative                        1.0000  ...         0.4019   positive
18          positive                        1.0000  ...         0.0000    neutral
19          positive                        1.0000  ...         0.7902   positive

[20 rows x 13 columns]

In [23]:
texts[17]

'virginamerica i flew from nyc to sfo last week and could not fully sit in my seat due to two large gentleman on either side of me help'

In [24]:
!pip install -U textblob
!python -m textblob.download_corpora

Requirement already up-to-date: textblob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob) (3.2.5)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (1.15.0)
[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Unzipping corpora/brown.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package conll2000 to /root/nltk_data...
[nltk_data]   Unzipping corpora/conll2000.zip.
[nltk_data] Downloading package movie_reviews to /root/nltk_data...
[nltk_data]   Package movie_reviews is already up-to-date!
Finished.

In [25]:
from textblob import TextBlob

In [26]:
tb1 = TextBlob('I just am trying textblob first time.')
tb1

TextBlob("I just am trying textblob first time.")

In [27]:
#tokenization and sentence segmentation
tb1.words

WordList(['I', 'just', 'am', 'trying', 'textblob', 'first', 'time'])

In [28]:
tb1.sentences

[Sentence("I just am trying textblob first time.")]

In [29]:
tb1.noun_phrases

WordList([])

In [30]:
tb2=TextBlob("Tags will give the Part of speech for all the words.")
tb2.tags

[('Tags', 'NNP'),
 ('will', 'MD'),
 ('give', 'VB'),
 ('the', 'DT'),
 ('Part', 'NNP'),
 ('of', 'IN'),
 ('speech', 'NN'),
 ('for', 'IN'),
 ('all', 'PDT'),
 ('the', 'DT'),
 ('words', 'NNS')]

In [31]:
tb3=TextBlob(" We are learning cool Library . We are enjoying a lot .")
tb3.noun_phrases

WordList(['cool library'])

In [32]:
type(tb3.noun_phrases)

textblob.blob.WordList

In [33]:
doc2=TextBlob("We are having fun here")
doc2.polarity

0.3

In [34]:
texts = tweet_data['text'].tolist()
textblob_score = []
textblob_tag = []
for text in texts:
    doc_current = TextBlob(text)
    score = doc_current.polarity
    textblob_score.append(score)
    if score > 0:
        textblob_tag.append('positive')
    elif score<0:
        textblob_tag.append('negative')
    else:
        textblob_tag.append('neutral')
tweet_data['textblob_score'] = textblob_score
tweet_data['textblob_sentiment_tag'] = textblob_tag

In [35]:
tweet_data[['airline_sentiment','text','textblob_score','textblob_sentiment_tag']].head(20)

   airline_sentiment  ... textblob_sentiment_tag
0            neutral  ...                neutral
1           positive  ...                neutral
2            neutral  ...               negative
3           negative  ...               positive
4           negative  ...               negative
5           negative  ...               negative
6           positive  ...               positive
7            neutral  ...               positive
8           positive  ...                neutral
9           positive  ...               positive
10           neutral  ...                neutral
11          positive  ...               positive
12          positive  ...               positive
13          positive  ...               positive
14          positive  ...               positive
15          negative  ...                neutral
16          positive  ...               positive
17          negative  ...               positive
18          positive  ...                neutral
19          positive  ...               positive

[20 rows x 4 columns]